<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <div align="right">
        <a href='/register'>Register</a> |
        <a href='/logout'>Log Out</a> |
        <a href='/login'>Login</a> 
    </div>
    <div align="left">
            <a href='/'>Main Blog Page</a> |
            <a href='/newblog'>Post a Blog</a>
        </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>        
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul> 
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>